[tool.black]
line-length = 88
target-version = ["py310"]
skip-string-normalization = false

[tool.isort]
profile = "black"
line_length = 88
include_trailing_comma = true
multi_line_output = 3

[tool.ruff]
line-length = 88
target-version = "py310"

[tool.ruff.lint]
select = ["E", "F", "W", "I"]
ignore = ["E501"]

exclude = [
    ".git",
    "__pycache__",
    "build",
    "dist",
    ".venv",
]

fixable = ["ALL"]
unfixable = []
extend-safe-fixes = []
extend-unsafe-fixes = []

[tool.mypy]
python_version = "3.10"
plugins = []
warn_unused_configs = true
warn_return_any = true
warn_unused_ignores = true
disallow_untyped_defs = true
disallow_any_generics = true
ignore_missing_imports = true
exclude = [
    "tests",
    "venv",
]
